@model MyAppointer.Models.PersianDatePicker


@{
    ViewBag.Title = "Testing Calender";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <title>Testing Calender</title>
</head>
<body>
   
    <div class="editor-label">
        @Html.LabelFor(model => model.DatePicker)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DatePicker)
        @Html.ValidationMessageFor(model => model.DatePicker)
    </div>

</body>
</html>