@if (Session["LogedUserFullname"] != null)
{
    <text>
        Welcome @Session["LogedUserFullname"].ToString()
    </text>
     <li><span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Log out", "LogOff", "User", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
}
else
{
    <ul>

        <li><span class="glyphicon glyphicon-lock"></span>@Html.ActionLink("Login", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li><span class="glyphicon glyphicon-user"></span>@Html.ActionLink("SignUp", "Create", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

    </ul>
}