@model MyAppointer.Models.TimeTable
@{ MyAppointer.Models.Appointments appointment = new MyAppointer.Models.Appointments();  }
@{ MyAppointer.Models.TimeTable obj = (MyAppointer.Models.TimeTable)ViewData["data"];
    var i = 0; }
@{ string[] weekDays = { "شنبه", "یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج شنبه", "جمعه" }; } 

<input type="text" id="datepicker"/>
<input type="text" id="alternate" />
<table style="border: 1px solid black; width: 100%" id="TimeTable" class="table table-hover table-bordered">

       <thead>
           <tr style="border: 1px solid black;">
               <th>روز هفته</th>
               <th>ساعت</th>
           </tr>
       </thead> 
        <tbody>

                @if (obj.days.IndexOf(i) == -1)
                {
                <tr class="disabled">
                    <td class="text-center day-name" ></td>
                    <td></td>
                </tr>

                }
                else {

                    <tr class="">
                        <td>@weekDays[i]</td>
                        <td>
                            <div class="progress times">


                            </div>
                        </td>
                    </tr>
                }

            }

        </tbody>
                


    </table>




