
    <table style="border: 1px solid black; width: 100%" id="TimeTable" class="table">
       <thead>
           <tr style="border: 1px solid black;">
               <th>ساعت</th>
               <th>روز هفته</th>

           </tr>
       </thead> 
        <tbody>
            <tr class="disabled">
                <td class="status"></td>
                <td>شنبه</td>

            </tr>
            <tr class="disabled">
                <td class="status"></td>
                <td>یکشنبه</td>

            </tr>
            <tr class="disabled">
                <td class="status"></td>
                <td>دوشنبه</td>
            </tr>
            <tr class="disabled">
                <td class="status"></td>
                <td>سه شنبه</td>

            </tr>
            <tr class="disabled">
                <td class="status"></td>
                <td>چهارشنبه</td>

            </tr>
            <tr class="disabled">
                <td class="status"></td>
                <td>پنج شنبه</td>
            </tr>
            <tr class="disabled">
                <td class="status"></td>
                <td>جمعه</td>

            </tr>
        </tbody>
                


    </table>




