.table {
    direction: rtl;
}

.table th {
    text-align: center !important;
}

.table tr td:first-child {
    width:20% !important;
}

.table tr td .times.progress {
    margin-top:7px;
    margin-bottom:8px;
}

.table tr td .times.progress .progress-bar , .table tr td .appointments.progress .progress-bar{
    float:right;
    position:relative;
}

.table tr td .appointments.progress .progress-bar{
    top:-2px;
}

.table tr td .appointments.progress {
    top: -27px;
    position: relative;
    background-color: rgba(245, 245, 245, 0);
    margin-bottom:-20px;
}

.modal .modal-dialog .modal-header {
    background-color: #31708F !important;
    direction:rtl;
}
.modal .modal-dialog .modal-header .close {
    float: left !important;
}

.disabled{
    color: #ccc;
    background-color: #9d9d9d;
}

.disabled .progress, .disabled .progress-bar.progress-bar-success {
    background-color: #C54646 !important;
}