@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>Project Contributors:</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<div style="font-size:1.25em;">
    <br />
    <br />
    Sina Ebrahimi
    <br />
    <br />
    Narges Moeini
    <br />
    <br />
    Maryam Mousavi
    <br />
    <br />
    Hadi Allahyari
    <br />
    <br />
    <br />
    <br />
    <a href="https://github.com/sinaebrahimi/MyAppointer1">Fork Us on Github</a>
</div>
<aside>
    <h3>Aside Title</h3>

    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>
